<nav>
    <ul>
      <li><a routerLink="/customer/registration" routerLinkActive="active">First Component</a></li>
      <!-- <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li> -->
    </ul>
  </nav>
